In [1]:
import pandas as pd
import numpy as np

In [3]:
no_fraud_data = pd.read_csv('./source/no_fraud_data.csv')
no_fraud_data = no_fraud_data.rename(columns={'value':'amount'})
no_fraud_data

,timestamp,from,to,amount
0,1438918233,0xa1e4380a3b1f749673e270229993ee55f35663b4,0x5df9b87991262f6ba471f09758cde1c0fc1de734,3.133700e+04
1,1438918613,0xbd08e0cddec097db7901ea819a3d1fd9de8951a2,0x5c12a8e43faf884521c2454f39560e6c265a68c8,1.990000e+19
2,1438918630,0x63ac545c991243fa18aec41d4f6f598e555015dc,0xc93f2250589a6563f5359051c1ea25746549f0d8,5.999900e+20
3,1438918983,0x037dd056e7fdbd641db5b6bea2a8780a83fae180,0x7e7ec15a5944e978257ddae0008c2f2ece0a6090,1.000000e+20
4,1438919175,0x3f2f381491797cc5c0d48296c14fd0cd00cdfa2d,0x4bd5f0ee173c81d42765154865ee69361b6ad189,8.039900e+20
...,...,...,...,...
99995,1441318754,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0x81fd27d172d402adb759f8efd0ccbd13cd1e2384,3.310180e+18
99996,1441318754,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0x07ccb8e7bc2978ec58e7a633c6894f460883a510,1.354670e+19
99997,1441318754,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0x96bb8306e3fc577f3b0269adacc9910c91d5ab48,2.270510e+18
99998,1441318754,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0x79f01183e6e364098db23ba853aef9af30e13733,2.108660e+18
99999,1441318754,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,0xb2cc35a981a37f727c203350f78142cecb16fb45,5.151350e+17

In [4]:
fraud_data = pd.read_csv('./source/fraud_data.csv')
fraud_data = fraud_data.rename(columns={'source':'from','target':'to'})
fraud_data

,from,to,timestamp,amount
0,0x1f1e784a61a8ca0a90250bcd2170696655b28a21,0x1266f8b9e4dffc9e2f719bf51713f7e714516861,1.526454e+09,2.344623
1,0x1f1e784a61a8ca0a90250bcd2170696655b28a21,0x806ceb189d36700a97f4e7ecd4fb6c95f2c5a3de,1.504462e+09,0.070000
2,0x1f1e784a61a8ca0a90250bcd2170696655b28a21,0x806ceb189d36700a97f4e7ecd4fb6c95f2c5a3de,1.504473e+09,0.052111
3,0x1f1e784a61a8ca0a90250bcd2170696655b28a21,0x3ec4688db6bf8464b0bef30ec2ca7afc7fa7863c,1.507806e+09,5.068543
4,0x1f1e784a61a8ca0a90250bcd2170696655b28a21,0x3ec4688db6bf8464b0bef30ec2ca7afc7fa7863c,1.527097e+09,0.992500
...,...,...,...,...
99995,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,1.518446e+09,0.000000
99996,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,1.518447e+09,0.000000
99997,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,1.518448e+09,0.000000
99998,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,1.518449e+09,0.000000
99999,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,1.518451e+09,0.000000

In [5]:
no_fraud_data['amount'] = no_fraud_data['amount']/1e+18
fraud_data['isPhi'] = 1
no_fraud_data['isPhi'] = 0

data = pd.concat([no_fraud_data, fraud_data], axis=0)
data

,timestamp,from,to,amount,isPhi
0,1.438918e+09,0xa1e4380a3b1f749673e270229993ee55f35663b4,0x5df9b87991262f6ba471f09758cde1c0fc1de734,3.133700e-14,0
1,1.438919e+09,0xbd08e0cddec097db7901ea819a3d1fd9de8951a2,0x5c12a8e43faf884521c2454f39560e6c265a68c8,1.990000e+01,0
2,1.438919e+09,0x63ac545c991243fa18aec41d4f6f598e555015dc,0xc93f2250589a6563f5359051c1ea25746549f0d8,5.999900e+02,0
3,1.438919e+09,0x037dd056e7fdbd641db5b6bea2a8780a83fae180,0x7e7ec15a5944e978257ddae0008c2f2ece0a6090,1.000000e+02,0
4,1.438919e+09,0x3f2f381491797cc5c0d48296c14fd0cd00cdfa2d,0x4bd5f0ee173c81d42765154865ee69361b6ad189,8.039900e+02,0
...,...,...,...,...,...
99995,1.518446e+09,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,0.000000e+00,1
99996,1.518447e+09,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,0.000000e+00,1
99997,1.518448e+09,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,0.000000e+00,1
99998,1.518449e+09,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,0.000000e+00,1
99999,1.518451e+09,0x2b5634c42055806a59e9107ed44d43c426e58258,0xb6ee9668771a79be7967ee29a63d4184f8097143,0.000000e+00,1

In [6]:
counts_from = data['from'].value_counts()
counts_from = counts_from.reset_index()
counts_from = counts_from.rename(columns={'index':'address','from':'send_occurances'})
counts_from

                                         address  send_occurances
0     0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca            15209
1     0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5            13428
2     0xeed16856d551569d134530ee3967ec79995e2051            11587
3     0x563b377a956c80d77a7c613a9343699ad6123911            11560
4     0x3b0bc51ab9de1e5b7b6e34e5b960285805c41736            11548
...                                          ...              ...
8460  0x9835c2d4f081a497739c2d75e4f00ecafcb9ebd6                1
8461  0xef49d7bf6cd9a01fa487f94d4e79a6be31f89a34                1
8462  0x11ff1aa994c8e7d164e7ee99ce376549db7a1a1d                1
8463  0xa28fb61a108456d201f8296ec31fe1c5d73715d6                1
8464  0x32a849137e372830954cdcaf552290ff082dab10                1

[8465 rows x 2 columns]

In [7]:
counts_to = data['to'].value_counts()
counts_to = counts_to.reset_index()
counts_to = counts_to.rename(columns={'index':'address','to':'receive_occurances'})
counts_to

                                          address  receive_occurances
0      0x32be343b94f860124dc4fee278fdcbd38c102d88               25226
1      0x4edc0beccec6712a6c312131051a7902bcb769d4                8837
2      0x56fbd0e568263b9b2ffb458f80dff6a3481031f7                5575
3      0x0093edcbafec827044456ee32fb61bf2762b3f17                3505
4      0x2910543af39aba0cd09dbb2d50200b3e800a63d2                2556
...                                           ...                 ...
57376  0x36d516bada8e2571b3e626364833bb4eb87b8c90                   1
57377  0xf57fcc1ebd2ad14471ba81c0fda8652172bdc8af                   1
57378  0xd3045388be53f139d40b65b755ab7642aab03733                   1
57379  0x14d476e99d8e64c24f93faa3c5aac2cc776fc86e                   1
57380  0x6eed1e21ec4262369939cec737009d578a6a6b31                   1

[57381 rows x 2 columns]

In [8]:
merged_counts = pd.merge(counts_from, counts_to, on='address', how='outer')
merged_counts

,address,send_occurances,receive_occurances
0,0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca,15209.0,1.0
1,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,13428.0,16.0
2,0xeed16856d551569d134530ee3967ec79995e2051,11587.0,110.0
3,0x563b377a956c80d77a7c613a9343699ad6123911,11560.0,114.0
4,0x3b0bc51ab9de1e5b7b6e34e5b960285805c41736,11548.0,120.0
...,...,...,...
59226,0x36d516bada8e2571b3e626364833bb4eb87b8c90,NaN,1.0
59227,0xf57fcc1ebd2ad14471ba81c0fda8652172bdc8af,NaN,1.0
59228,0xd3045388be53f139d40b65b755ab7642aab03733,NaN,1.0
59229,0x14d476e99d8e64c24f93faa3c5aac2cc776fc86e,NaN,1.0
59230,0x6eed1e21ec4262369939cec737009d578a6a6b31,NaN,1.0

In [9]:
merged_counts['send_occurances'].fillna(0, inplace=True)
merged_counts['receive_occurances'].fillna(0, inplace=True)
merged_counts

,address,send_occurances,receive_occurances
0,0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca,15209.0,1.0
1,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,13428.0,16.0
2,0xeed16856d551569d134530ee3967ec79995e2051,11587.0,110.0
3,0x563b377a956c80d77a7c613a9343699ad6123911,11560.0,114.0
4,0x3b0bc51ab9de1e5b7b6e34e5b960285805c41736,11548.0,120.0
...,...,...,...
59226,0x36d516bada8e2571b3e626364833bb4eb87b8c90,0.0,1.0
59227,0xf57fcc1ebd2ad14471ba81c0fda8652172bdc8af,0.0,1.0
59228,0xd3045388be53f139d40b65b755ab7642aab03733,0.0,1.0
59229,0x14d476e99d8e64c24f93faa3c5aac2cc776fc86e,0.0,1.0
59230,0x6eed1e21ec4262369939cec737009d578a6a6b31,0.0,1.0

In [10]:
merged_counts['involved_transactions'] = merged_counts['send_occurances']+merged_counts['receive_occurances']
merged_counts['ratio_occurances'] = merged_counts['receive_occurances']/merged_counts['send_occurances']
merged_counts

,address,send_occurances,receive_occurances,involved_transactions,ratio_occurances
0,0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca,15209.0,1.0,15210.0,0.000066
1,0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,13428.0,16.0,13444.0,0.001192
2,0xeed16856d551569d134530ee3967ec79995e2051,11587.0,110.0,11697.0,0.009493
3,0x563b377a956c80d77a7c613a9343699ad6123911,11560.0,114.0,11674.0,0.009862
4,0x3b0bc51ab9de1e5b7b6e34e5b960285805c41736,11548.0,120.0,11668.0,0.010391
...,...,...,...,...,...
59226,0x36d516bada8e2571b3e626364833bb4eb87b8c90,0.0,1.0,1.0,inf
59227,0xf57fcc1ebd2ad14471ba81c0fda8652172bdc8af,0.0,1.0,1.0,inf
59228,0xd3045388be53f139d40b65b755ab7642aab03733,0.0,1.0,1.0,inf
59229,0x14d476e99d8e64c24f93faa3c5aac2cc776fc86e,0.0,1.0,1.0,inf
59230,0x6eed1e21ec4262369939cec737009d578a6a6b31,0.0,1.0,1.0,inf

In [11]:
amount_from = data.groupby('from')['amount'].sum().reset_index()
amount_from = amount_from.rename(columns={'from':'address','amount':'amount_send'})
amount_to = data.groupby('to')['amount'].sum().reset_index()
amount_to = amount_to.rename(columns={'to':'address','amount':'amount_receive'})

merged_amount = pd.merge(amount_from, amount_to, on='address', how='outer')
merged_amount

,address,amount_send,amount_receive
0,0x0004b15be8cb573a7be023e203e268dbcffd302b,1.441000e+03,6.656665e+03
1,0x0007ca35a2680425974312233a59a74c00d3c040,0.000000e+00,1.995000e+00
2,0x000df160997ba9420e4622996b05447871848834,2.614714e-10,5.000000e-01
3,0x001292c9c0d8e2b18cbc1cde1cf853d8ab070d05,0.000000e+00,2.000000e+00
4,0x001356974cded070ea3beb7dcf61f6878bea6c22,3.015000e+01,3.911194e+01
...,...,...,...
59226,0xfffa4763f94f7ad191b366a343092a5d1a47ed08,NaN,1.509910e+00
59227,0xfffb1abe26aa8167ccf52704ee2302086eaf0609,NaN,5.000000e-01
59228,0xfffe9ac88223bed28efd3fc33ea70781b12abfff,NaN,2.170400e+00
59229,0xffff40692c2dd889637837c886fd8678e67c7ce8,NaN,1.738353e-01
59230,None,NaN,1.190196e+07

In [12]:
merged_amount['amount_send'].fillna(0, inplace=True)
merged_amount['amount_receive'].fillna(0, inplace=True)

merged_amount['amount_ratio'] = merged_amount['amount_receive']/merged_amount['amount_send']
merged_amount['amount_ratio'].fillna(0, inplace=True)

merged_amount['balance'] = merged_amount['amount_receive']-merged_amount['amount_send']
merged_amount

,address,amount_send,amount_receive,amount_ratio,balance
0,0x0004b15be8cb573a7be023e203e268dbcffd302b,1.441000e+03,6.656665e+03,4.619476e+00,5.215665e+03
1,0x0007ca35a2680425974312233a59a74c00d3c040,0.000000e+00,1.995000e+00,inf,1.995000e+00
2,0x000df160997ba9420e4622996b05447871848834,2.614714e-10,5.000000e-01,1.912255e+09,5.000000e-01
3,0x001292c9c0d8e2b18cbc1cde1cf853d8ab070d05,0.000000e+00,2.000000e+00,inf,2.000000e+00
4,0x001356974cded070ea3beb7dcf61f6878bea6c22,3.015000e+01,3.911194e+01,1.297245e+00,8.961937e+00
...,...,...,...,...,...
59226,0xfffa4763f94f7ad191b366a343092a5d1a47ed08,0.000000e+00,1.509910e+00,inf,1.509910e+00
59227,0xfffb1abe26aa8167ccf52704ee2302086eaf0609,0.000000e+00,5.000000e-01,inf,5.000000e-01
59228,0xfffe9ac88223bed28efd3fc33ea70781b12abfff,0.000000e+00,2.170400e+00,inf,2.170400e+00
59229,0xffff40692c2dd889637837c886fd8678e67c7ce8,0.000000e+00,1.738353e-01,inf,1.738353e-01
59230,None,0.000000e+00,1.190196e+07,inf,1.190196e+07

In [13]:
merged_amount_and_counts = pd.merge(
	merged_amount,merged_counts,
	on='address',
	how='outer'
	)
merged_amount_and_counts

,address,amount_send,amount_receive,amount_ratio,balance,send_occurances,receive_occurances,involved_transactions,ratio_occurances
0,0x0004b15be8cb573a7be023e203e268dbcffd302b,1.441000e+03,6.656665e+03,4.619476e+00,5.215665e+03,4.0,6.0,10.0,1.500000
1,0x0007ca35a2680425974312233a59a74c00d3c040,0.000000e+00,1.995000e+00,inf,1.995000e+00,2.0,1.0,3.0,0.500000
2,0x000df160997ba9420e4622996b05447871848834,2.614714e-10,5.000000e-01,1.912255e+09,5.000000e-01,17.0,2.0,19.0,0.117647
3,0x001292c9c0d8e2b18cbc1cde1cf853d8ab070d05,0.000000e+00,2.000000e+00,inf,2.000000e+00,1.0,2.0,3.0,2.000000
4,0x001356974cded070ea3beb7dcf61f6878bea6c22,3.015000e+01,3.911194e+01,1.297245e+00,8.961937e+00,7.0,30.0,37.0,4.285714
...,...,...,...,...,...,...,...,...,...
59226,0xfffa4763f94f7ad191b366a343092a5d1a47ed08,0.000000e+00,1.509910e+00,inf,1.509910e+00,0.0,1.0,1.0,inf
59227,0xfffb1abe26aa8167ccf52704ee2302086eaf0609,0.000000e+00,5.000000e-01,inf,5.000000e-01,0.0,1.0,1.0,inf
59228,0xfffe9ac88223bed28efd3fc33ea70781b12abfff,0.000000e+00,2.170400e+00,inf,2.170400e+00,0.0,2.0,2.0,inf
59229,0xffff40692c2dd889637837c886fd8678e67c7ce8,0.000000e+00,1.738353e-01,inf,1.738353e-01,0.0,1.0,1.0,inf
59230,None,0.000000e+00,1.190196e+07,inf,1.190196e+07,0.0,877.0,877.0,inf

In [14]:
merged_amount_and_counts['means_send'] = merged_amount_and_counts['amount_send']/merged_amount_and_counts['send_occurances']
merged_amount_and_counts['means_receive'] = merged_amount_and_counts['amount_receive']/merged_amount_and_counts['receive_occurances']
merged_amount_and_counts.fillna(0, inplace=True)

merged_amount_and_counts['means_ratio'] = merged_amount_and_counts['means_receive']/merged_amount_and_counts['means_send']
merged_amount_and_counts.fillna(0, inplace=True)
merged_amount_and_counts

,address,amount_send,amount_receive,amount_ratio,balance,send_occurances,receive_occurances,involved_transactions,ratio_occurances,means_send,means_receive,means_ratio
0,0x0004b15be8cb573a7be023e203e268dbcffd302b,1.441000e+03,6.656665e+03,4.619476e+00,5.215665e+03,4.0,6.0,10.0,1.500000,3.602500e+02,1109.444167,3.079651e+00
1,0x0007ca35a2680425974312233a59a74c00d3c040,0.000000e+00,1.995000e+00,inf,1.995000e+00,2.0,1.0,3.0,0.500000,0.000000e+00,1.995000,inf
2,0x000df160997ba9420e4622996b05447871848834,2.614714e-10,5.000000e-01,1.912255e+09,5.000000e-01,17.0,2.0,19.0,0.117647,1.538067e-11,0.250000,1.625417e+10
3,0x001292c9c0d8e2b18cbc1cde1cf853d8ab070d05,0.000000e+00,2.000000e+00,inf,2.000000e+00,1.0,2.0,3.0,2.000000,0.000000e+00,1.000000,inf
4,0x001356974cded070ea3beb7dcf61f6878bea6c22,3.015000e+01,3.911194e+01,1.297245e+00,8.961937e+00,7.0,30.0,37.0,4.285714,4.307143e+00,1.303731,3.026905e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
59226,0xfffa4763f94f7ad191b366a343092a5d1a47ed08,0.000000e+00,1.509910e+00,inf,1.509910e+00,0.0,1.0,1.0,inf,0.000000e+00,1.509910,inf
59227,0xfffb1abe26aa8167ccf52704ee2302086eaf0609,0.000000e+00,5.000000e-01,inf,5.000000e-01,0.0,1.0,1.0,inf,0.000000e+00,0.500000,inf
59228,0xfffe9ac88223bed28efd3fc33ea70781b12abfff,0.000000e+00,2.170400e+00,inf,2.170400e+00,0.0,2.0,2.0,inf,0.000000e+00,1.085200,inf
59229,0xffff40692c2dd889637837c886fd8678e67c7ce8,0.000000e+00,1.738353e-01,inf,1.738353e-01,0.0,1.0,1.0,inf,0.000000e+00,0.173835,inf
59230,None,0.000000e+00,1.190196e+07,inf,1.190196e+07,0.0,877.0,877.0,inf,0.000000e+00,13571.223857,inf

In [15]:
fraud_from = data[['from','isPhi']]
fraud_to = data[['to','isPhi']]

fraud_from = fraud_from.rename(columns={'from':'address'})
fraud_to = fraud_to.rename(columns={'to':'address'})
fraud_merged =  pd.concat([fraud_from, fraud_to], axis=0)

fraud_merged = fraud_merged.drop_duplicates()
fraud_merged

                                          address  isPhi
0      0xa1e4380a3b1f749673e270229993ee55f35663b4      0
1      0xbd08e0cddec097db7901ea819a3d1fd9de8951a2      0
2      0x63ac545c991243fa18aec41d4f6f598e555015dc      0
3      0x037dd056e7fdbd641db5b6bea2a8780a83fae180      0
4      0x3f2f381491797cc5c0d48296c14fd0cd00cdfa2d      0
...                                           ...    ...
99594  0x44183db3008c2a7c655fd7831b80aa5b54c3ef67      1
99597  0x24979020e3f243431b0c523503bbc3928f5ff8ce      1
99603  0x7095bf3154cc6625de46b8f211187306bbe2abe2      1
99604  0x0976396dec017468c8d9f32dc4f7f54ea71bc5f6      1
99606  0xb6ee9668771a79be7967ee29a63d4184f8097143      1

[59258 rows x 2 columns]

In [16]:
data = pd.merge(
	merged_amount_and_counts,
	fraud_merged,
	on='address',
	how='outer'
)
data

,address,amount_send,amount_receive,amount_ratio,balance,send_occurances,receive_occurances,involved_transactions,ratio_occurances,means_send,means_receive,means_ratio,isPhi
0,0x0004b15be8cb573a7be023e203e268dbcffd302b,1.441000e+03,6.656665e+03,4.619476e+00,5.215665e+03,4.0,6.0,10.0,1.500000,3.602500e+02,1109.444167,3.079651e+00,0
1,0x0007ca35a2680425974312233a59a74c00d3c040,0.000000e+00,1.995000e+00,inf,1.995000e+00,2.0,1.0,3.0,0.500000,0.000000e+00,1.995000,inf,0
2,0x000df160997ba9420e4622996b05447871848834,2.614714e-10,5.000000e-01,1.912255e+09,5.000000e-01,17.0,2.0,19.0,0.117647,1.538067e-11,0.250000,1.625417e+10,0
3,0x001292c9c0d8e2b18cbc1cde1cf853d8ab070d05,0.000000e+00,2.000000e+00,inf,2.000000e+00,1.0,2.0,3.0,2.000000,0.000000e+00,1.000000,inf,0
4,0x001356974cded070ea3beb7dcf61f6878bea6c22,3.015000e+01,3.911194e+01,1.297245e+00,8.961937e+00,7.0,30.0,37.0,4.285714,4.307143e+00,1.303731,3.026905e-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59253,0xfffa4763f94f7ad191b366a343092a5d1a47ed08,0.000000e+00,1.509910e+00,inf,1.509910e+00,0.0,1.0,1.0,inf,0.000000e+00,1.509910,inf,0
59254,0xfffb1abe26aa8167ccf52704ee2302086eaf0609,0.000000e+00,5.000000e-01,inf,5.000000e-01,0.0,1.0,1.0,inf,0.000000e+00,0.500000,inf,1
59255,0xfffe9ac88223bed28efd3fc33ea70781b12abfff,0.000000e+00,2.170400e+00,inf,2.170400e+00,0.0,2.0,2.0,inf,0.000000e+00,1.085200,inf,1
59256,0xffff40692c2dd889637837c886fd8678e67c7ce8,0.000000e+00,1.738353e-01,inf,1.738353e-01,0.0,1.0,1.0,inf,0.000000e+00,0.173835,inf,1
59257,None,0.000000e+00,1.190196e+07,inf,1.190196e+07,0.0,877.0,877.0,inf,0.000000e+00,13571.223857,inf,0

In [17]:
w1 = pd.concat([no_fraud_data, fraud_data], axis=0)
w1 = w1.drop(['from','to'], axis=1)
w1

          timestamp        amount  isPhi
0      1.438918e+09  3.133700e-14      0
1      1.438919e+09  1.990000e+01      0
2      1.438919e+09  5.999900e+02      0
3      1.438919e+09  1.000000e+02      0
4      1.438919e+09  8.039900e+02      0
...             ...           ...    ...
99995  1.518446e+09  0.000000e+00      1
99996  1.518447e+09  0.000000e+00      1
99997  1.518448e+09  0.000000e+00      1
99998  1.518449e+09  0.000000e+00      1
99999  1.518451e+09  0.000000e+00      1

[200000 rows x 3 columns]

In [18]:
w1_input = w1.drop(['isPhi'], axis=1)
w1_output = w1['isPhi']

In [19]:
print(w1_input.shape)
print(w1_output.shape)

(200000, 2)
(200000,)

In [20]:
w1_input = np.array(w1_input)
w1_output = np.array(w1_output)

w1_input = w1_input[:, np.newaxis, :]

In [21]:
print(w1_input.shape)
print(w1_output.shape)

(200000, 1, 2)
(200000,)

In [25]:
w2 = data.drop(['address'], axis=1)
w2

,amount_send,amount_receive,amount_ratio,balance,send_occurances,receive_occurances,involved_transactions,ratio_occurances,means_send,means_receive,means_ratio,isPhi
0,1.441000e+03,6.656665e+03,4.619476e+00,5.215665e+03,4.0,6.0,10.0,1.500000,3.602500e+02,1109.444167,3.079651e+00,0
1,0.000000e+00,1.995000e+00,inf,1.995000e+00,2.0,1.0,3.0,0.500000,0.000000e+00,1.995000,inf,0
2,2.614714e-10,5.000000e-01,1.912255e+09,5.000000e-01,17.0,2.0,19.0,0.117647,1.538067e-11,0.250000,1.625417e+10,0
3,0.000000e+00,2.000000e+00,inf,2.000000e+00,1.0,2.0,3.0,2.000000,0.000000e+00,1.000000,inf,0
4,3.015000e+01,3.911194e+01,1.297245e+00,8.961937e+00,7.0,30.0,37.0,4.285714,4.307143e+00,1.303731,3.026905e-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...
59253,0.000000e+00,1.509910e+00,inf,1.509910e+00,0.0,1.0,1.0,inf,0.000000e+00,1.509910,inf,0
59254,0.000000e+00,5.000000e-01,inf,5.000000e-01,0.0,1.0,1.0,inf,0.000000e+00,0.500000,inf,1
59255,0.000000e+00,2.170400e+00,inf,2.170400e+00,0.0,2.0,2.0,inf,0.000000e+00,1.085200,inf,1
59256,0.000000e+00,1.738353e-01,inf,1.738353e-01,0.0,1.0,1.0,inf,0.000000e+00,0.173835,inf,1
59257,0.000000e+00,1.190196e+07,inf,1.190196e+07,0.0,877.0,877.0,inf,0.000000e+00,13571.223857,inf,0

In [26]:
w2_input = w2.drop(['isPhi'],axis=1)
w2_output = w2['isPhi']

In [27]:
print(w2_input.shape)
print(w2_output.shape)

(59258, 11)
(59258,)

In [28]:
w2_input = np.array(w2_input)
w2_output = np.array(w2_output)
w2_input = w2_input[:, np.newaxis, :]

In [29]:
print(w2_input.shape)
print(w2_output.shape)

(59258, 1, 11)
(59258,)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
w1_input_train, w1_input_test, w1_output_train, w1_output_test = train_test_split(w1_input, w1_output, test_size=0.20, random_state=42)
w2_input_train, w2_input_test, w2_output_train, w2_output_test = train_test_split(w2_input, w2_output, test_size=0.20, random_state=42)

In [32]:
print(w1_input_train.shape)
print(w1_output_train.shape)
print(w2_input_train.shape)
print(w2_output_train.shape)

(160000, 1, 2)
(160000,)
(47406, 1, 11)
(47406,)

In [35]:
w1_input_train = w1_input_train[:len(w2_input_train)]
w1_output_train = w1_output_train[:len(w2_output_train)]

In [36]:
print(w1_input_train.shape)
print(w1_output_train.shape)
print(w2_input_train.shape)
print(w2_output_train.shape)

(47406, 1, 2)
(47406,)
(47406, 1, 11)
(47406,)

In [37]:
print(w1_input_test.shape)
print(w1_output_test.shape)
print(w2_input_test.shape)
print(w2_output_test.shape)

(40000, 1, 2)
(40000,)
(11852, 1, 11)
(11852,)

In [38]:
w1_input_test = w1_input_test[:len(w2_input_test)]
w1_output_test = w1_output_test[:len(w2_output_test)]

In [39]:
print(w1_input_test.shape)
print(w1_output_test.shape)
print(w2_input_test.shape)
print(w2_output_test.shape)

(11852, 1, 2)
(11852,)
(11852, 1, 11)
(11852,)

In [40]:
w1_output_train = w1_output_train.reshape((-1,1))
w1_output_test = w1_output_test.reshape((-1,1))
w2_output_train = w2_output_train.reshape((-1,1))
w2_output_test = w2_output_test.reshape((-1,1))

In [41]:
from numpy import inf
def cg(x):
    x[x == -inf] = 0
    x[x == inf] = 0
    print (x.shape)
    print (type(x))
    return x

In [42]:
_=cg(w1_input_train)
_=cg(w2_input_train)
_=cg(w1_output_train)
_=cg(w2_output_train)

_=cg(w1_input_test)
_=cg(w2_input_test)
_=cg(w1_output_test)
_=cg(w2_output_test)

(47406, 1, 2)
<class 'numpy.ndarray'>
(47406, 1, 11)
<class 'numpy.ndarray'>
(47406, 1)
<class 'numpy.ndarray'>
(47406, 1)
<class 'numpy.ndarray'>
(11852, 1, 2)
<class 'numpy.ndarray'>
(11852, 1, 11)
<class 'numpy.ndarray'>
(11852, 1)
<class 'numpy.ndarray'>
(11852, 1)
<class 'numpy.ndarray'>

In [43]:
import tensorflow as tf
from tensorflow import keras

In [48]:
x= keras.Input(shape=(1,2))
x1 = keras.Input(shape=(1, 11))

print(x.shape)
print(x1.shape)

y = keras.layers.LSTM(128, return_sequences=True)(x)
y = keras.layers.LSTM(128, return_sequences=True)(y)


y1 = keras.layers.Dense(128, activation='relu')(x1)
y1 = keras.layers.Dense(256, activation='relu')(y1)
y1 = keras.layers.Dense(128, activation='relu')(y1)

join2 = keras.layers.concatenate([y,y1], axis=1)

y2 = keras.layers.Dense(32)(join2)
y2 = keras.layers.Dropout(0.5)(y2)
y2 = keras.layers.Dense(32)(y2)
y2 = keras.layers.Reshape((-1,))(y2)
final1 = keras.layers.Dense(1, activation='sigmoid')(y2)
final2 = keras.layers.Dense(1, activation='sigmoid')(y2)

model = tf.keras.Model(inputs=[x,x1], outputs=[final1, final2])

(None, 1, 2)
(None, 1, 11)

In [49]:
[x.shape for x in model.inputs]

[(None, 1, 2), (None, 1, 11)]

In [50]:
[x.shape for x in model.outputs]

[(None, 1), (None, 1)]

In [53]:
model.compile(optimizer='adam',loss = 'binary_crossentropy',metrics=['acc','mse'])

In [54]:
model.fit([w1_input_train, w2_input_train], [w1_output_train, w2_output_train], batch_size=128, epochs=100)

Epoch 1/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 7s 10ms/step - dense_12_acc: 0.5014 - dense_13_mse: 0.1333 - loss: 1068652958842880.0000
Epoch 2/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5012 - dense_13_mse: 0.1054 - loss: 3933193610723328.0000
Epoch 3/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5067 - dense_13_mse: 0.0731 - loss: 1909741907345408.0000
Epoch 4/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5033 - dense_13_mse: 0.0762 - loss: 3925131151802368.0000
Epoch 5/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4999 - dense_13_mse: 0.0817 - loss: 2088081431724032.0000
Epoch 6/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4950 - dense_13_mse: 0.0747 - loss: 1028471794958336.0000
Epoch 7/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4976 - dense_13_mse: 0.0622 - loss: 428240518774784.0000
Epoch 8/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4986 - dense_13_mse: 0.0605 - loss: 1273517798588416.0000
Epoch 9/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5003 - dense_13_mse: 0.0551 - loss: 33810634768384.0000
Epoch 10/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4970 - dense_13_mse: 0.0524 - loss: 3882739019284480.0000
Epoch 11/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5019 - dense_13_mse: 0.0671 - loss: 287985207607296.0000
Epoch 12/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4961 - dense_13_mse: 0.0592 - loss: 792432002203648.0000
Epoch 13/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4993 - dense_13_mse: 0.0518 - loss: 139711855198208.0000
Epoch 14/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - dense_12_acc: 0.4933 - dense_13_mse: 0.0564 - loss: 129289588572160.0000
Epoch 15/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - dense_12_acc: 0.5037 - dense_13_mse: 0.0475 - loss: 204049886478336.0000
Epoch 16/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5042 - dense_13_mse: 0.0497 - loss: 125842080399360.0000
Epoch 17/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5037 - dense_13_mse: 0.0467 - loss: 67745945223168.0000
Epoch 18/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4997 - dense_13_mse: 0.0511 - loss: 562254537818112.0000
Epoch 19/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5007 - dense_13_mse: 0.0536 - loss: 2139579700215808.0000
Epoch 20/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5046 - dense_13_mse: 0.0529 - loss: 37706646159360.0000
Epoch 21/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4996 - dense_13_mse: 0.0535 - loss: 161002737893376.0000
Epoch 22/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5068 - dense_13_mse: 0.0504 - loss: 10371160080384.0000
Epoch 23/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4979 - dense_13_mse: 0.0493 - loss: 105818439680.0000
Epoch 24/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5015 - dense_13_mse: 0.0557 - loss: 3865816334336.0000
Epoch 25/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5018 - dense_13_mse: 0.0530 - loss: 9374192893952.0000
Epoch 26/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5060 - dense_13_mse: 0.0701 - loss: 3807636094976.0000
Epoch 27/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4958 - dense_13_mse: 0.0660 - loss: 389750162718720.0000
Epoch 28/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - dense_12_acc: 0.5005 - dense_13_mse: 0.0693 - loss: 10976752566272.0000
Epoch 29/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5008 - dense_13_mse: 0.0665 - loss: 39576651431936.0000
Epoch 30/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4994 - dense_13_mse: 0.0616 - loss: 68313220644864.0000
Epoch 31/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5006 - dense_13_mse: 0.0584 - loss: 4922383269888.0000
Epoch 32/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5025 - dense_13_mse: 0.0635 - loss: 212630895591424.0000
Epoch 33/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5056 - dense_13_mse: 0.0670 - loss: 120268647301120.0000
Epoch 34/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4969 - dense_13_mse: 0.0506 - loss: 814872330240.0000
Epoch 35/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4998 - dense_13_mse: 0.0475 - loss: 188335161344.0000
Epoch 36/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4978 - dense_13_mse: 0.0446 - loss: 8511087968256.0000
Epoch 37/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - dense_12_acc: 0.5028 - dense_13_mse: 0.0461 - loss: 26928373301248.0000
Epoch 38/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4950 - dense_13_mse: 0.0445 - loss: 7399077838848.0000
Epoch 39/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5007 - dense_13_mse: 0.0442 - loss: 99866648576.0000
Epoch 40/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5004 - dense_13_mse: 0.0448 - loss: 654725808128.0000
Epoch 41/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4976 - dense_13_mse: 0.0461 - loss: 29985648640.0000
Epoch 42/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - dense_12_acc: 0.4972 - dense_13_mse: 0.0451 - loss: 137001705472.0000
Epoch 43/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4995 - dense_13_mse: 0.0445 - loss: 89062555648.0000
Epoch 44/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5014 - dense_13_mse: 0.0442 - loss: 63870971904.0000
Epoch 45/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4986 - dense_13_mse: 0.0438 - loss: 23649867776.0000
Epoch 46/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4969 - dense_13_mse: 0.0417 - loss: 50153095168.0000
Epoch 47/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5003 - dense_13_mse: 0.0431 - loss: 20653971456.0000
Epoch 48/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5035 - dense_13_mse: 0.0429 - loss: 207329640448.0000
Epoch 49/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4926 - dense_13_mse: 0.0404 - loss: 11905447936.0000
Epoch 50/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5012 - dense_13_mse: 0.0411 - loss: 30068211712.0000
Epoch 51/100

371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5056 - dense_13_mse: 0.0410 - loss: 258723823616.0000
Epoch 52/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5020 - dense_13_mse: 0.0417 - loss: 583090176000.0000
Epoch 53/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5027 - dense_13_mse: 0.0433 - loss: 3454556700672.0000
Epoch 54/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4982 - dense_13_mse: 0.0413 - loss: 3363556294656.0000
Epoch 55/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5012 - dense_13_mse: 0.0461 - loss: 5058950856704.0000
Epoch 56/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4981 - dense_13_mse: 0.0423 - loss: 21206210183168.0000
Epoch 57/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4940 - dense_13_mse: 0.0426 - loss: 23963568701440.0000
Epoch 58/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4989 - dense_13_mse: 0.0421 - loss: 33502627840.0000
Epoch 59/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5018 - dense_13_mse: 0.0423 - loss: 779287789568.0000
Epoch 60/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4959 - dense_13_mse: 0.0417 - loss: 183165968.0000
Epoch 61/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4985 - dense_13_mse: 0.0409 - loss: 437165920.0000
Epoch 62/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4953 - dense_13_mse: 0.0417 - loss: 4386494464.0000
Epoch 63/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4989 - dense_13_mse: 0.0410 - loss: 948060928.0000
Epoch 64/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4991 - dense_13_mse: 0.0412 - loss: 23637502.0000
Epoch 65/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5028 - dense_13_mse: 0.0412 - loss: 18939568128.0000
Epoch 66/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5057 - dense_13_mse: 0.0403 - loss: 304614.4688
Epoch 67/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4977 - dense_13_mse: 0.0409 - loss: 8277033.5000
Epoch 68/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5021 - dense_13_mse: 0.0410 - loss: 88674.9141
Epoch 69/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - dense_12_acc: 0.5039 - dense_13_mse: 0.0453 - loss: 3257729.5000
Epoch 70/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5019 - dense_13_mse: 0.0398 - loss: 10063086592.0000
Epoch 71/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5016 - dense_13_mse: 0.0412 - loss: 2392.7153
Epoch 72/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5053 - dense_13_mse: 0.0399 - loss: 0.8673
Epoch 73/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5017 - dense_13_mse: 0.0393 - loss: 0.8664
Epoch 74/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4981 - dense_13_mse: 0.0395 - loss: 0.8688
Epoch 75/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4960 - dense_13_mse: 0.0402 - loss: 0.8721
Epoch 76/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5049 - dense_13_mse: 0.0391 - loss: 0.8650
Epoch 77/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5028 - dense_13_mse: 0.0394 - loss: 0.8694
Epoch 78/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4978 - dense_13_mse: 0.0380 - loss: 0.8608
Epoch 79/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5003 - dense_13_mse: 0.0405 - loss: 0.8718
Epoch 80/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5027 - dense_13_mse: 0.0400 - loss: 0.8669
Epoch 81/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5005 - dense_13_mse: 0.0383 - loss: 0.8634
Epoch 82/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5016 - dense_13_mse: 0.0382 - loss: 0.8632
Epoch 83/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5010 - dense_13_mse: 0.0398 - loss: 0.8696
Epoch 84/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4989 - dense_13_mse: 0.0411 - loss: 0.8764
Epoch 85/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4998 - dense_13_mse: 0.0398 - loss: 0.8683
Epoch 86/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5042 - dense_13_mse: 0.0373 - loss: 0.9308
Epoch 87/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5045 - dense_13_mse: 0.0395 - loss: 0.8638
Epoch 88/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5013 - dense_13_mse: 0.0403 - loss: 0.8686
Epoch 89/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5063 - dense_13_mse: 0.0382 - loss: 0.8606
Epoch 90/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5003 - dense_13_mse: 0.0387 - loss: 4218.6016
Epoch 91/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5053 - dense_13_mse: 0.0410 - loss: 0.8693
Epoch 92/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4974 - dense_13_mse: 0.0393 - loss: 0.8655
Epoch 93/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5008 - dense_13_mse: 0.0388 - loss: 0.8637
Epoch 94/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4973 - dense_13_mse: 0.0378 - loss: 0.8610
Epoch 95/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5007 - dense_13_mse: 0.0391 - loss: 0.8649
Epoch 96/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5088 - dense_13_mse: 0.0385 - loss: 0.8650
Epoch 97/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4990 - dense_13_mse: 0.0392 - loss: 0.8645
Epoch 98/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5008 - dense_13_mse: 0.0386 - loss: 0.8651
Epoch 99/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.5008 - dense_13_mse: 0.0399 - loss: 509431775232.0000
Epoch 100/100
371/371 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - dense_12_acc: 0.4972 - dense_13_mse: 0.0393 - loss: 0.8756

In [55]:
check = model.evaluate([w1_input_test, w2_input_test], [w1_output_test, w2_output_test])
print (check)
print('Test loss:', check[0])
print('Test accuracy:', check[1])

371/371 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - dense_12_acc: 0.5111 - dense_13_mse: 0.0365 - loss: 0.8428
[0.8483942151069641, 0.5004218816757202, 0.037316713482141495]
Test loss: 0.8483942151069641
Test accuracy: 0.5004218816757202

In [56]:
from sklearn.metrics import confusion_matrix, classification_report

In [57]:
y_predicted = model.predict([w1_input_test, w2_input_test])

371/371 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step

In [58]:
y_predicted

[array([[0.51903665],
        [0.5537698 ],
        [0.5030667 ],
        ...,
        [0.5187645 ],
        [0.57055557],
        [0.50333595]], dtype=float32),
 array([[0.97532094],
        [0.01250609],
        [0.9665387 ],
        ...,
        [0.97096634],
        [0.04395861],
        [0.965898  ]], dtype=float32)]

In [59]:
y_predicted_main = y_predicted[0]
y_predicted_inverse = y_predicted[1]


y_predicted_main = y_predicted_main.flatten()

y_predicted_main = np.where(y_predicted_main>0.5,1,0)
cm = confusion_matrix(w1_output_test, y_predicted_main)
print(cm)
print(classification_report(w1_output_test, y_predicted_main,digits=4))

[[ 269 5629]
 [ 292 5662]]
              precision    recall  f1-score   support

           0     0.4795    0.0456    0.0833      5898
           1     0.5015    0.9510    0.6567      5954

    accuracy                         0.5004     11852
   macro avg     0.4905    0.4983    0.3700     11852
weighted avg     0.4905    0.5004    0.3713     11852

In [60]:
import pickle
pickle.dump(model, open('model.pkl','wb'))